@import "../../styles/index.scss";
@import "./mixin.scss";
.#{$prefixCls}__calendar {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &_nav_button {
      border: 1px solid $hw-gray-200;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      > path {
        color: $hw-gray-300;
      }
      &:hover {
        border-color: $hw-ghost-color;
        > path {
          color: $hw-basic-color;
        }
      }
    }
    &_formated_date {
      cursor: pointer;
    }
  }
  &_body {
    width: 100%;
  }

  &_date_row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
  }

  &_date_row_month {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8px;
  }

  &_date_cell {
    @include date_cell_base;

    &--current_month {
      @include date_cell_base;
      color: $hw-black-100;
      &--selected {
        @include date_cell_base;
        color: $hw-primary-color;
        border-top-color: $hw-blue-200;
        font-weight: bold;
        &--disabled {
          @include date_cell_base;
          border-top-color: $hw-gray-200;
          color: $hw-gray-200;
          cursor: not-allowed;
        }
      }
      &--disabled {
        @include date_cell_base;
        border-top-color: $hw-gray-200;
        color: $hw-gray-200;
        cursor: not-allowed;
      }
    }
    &--selected {
      @include date_cell_base;
      color: $hw-primary-color;
      border-top-color: $hw-blue-200;
      font-weight: bold;
    }
    &--disabled {
      @include date_cell_base;
      border-top-color: $hw-gray-200;
      color: $hw-gray-200;
      cursor: not-allowed;
    }
  }
}
