@import "../../styles/index.scss";
@import "./mixin.scss";

.#{$prefixCls}__button {
  @include button_base;
  &.basic {
    @include typed_button(basic);
  }
  &.primary {
    @include typed_button(primary);
  }
  &.danger {
    @include typed_button(danger);
  }
  &.success {
    @include typed_button(success);
  }
  &.ghost {
    @include typed_button(ghost);
  }
}
