@mixin button_base {
  width: 100px;
  height: 2rem;
  background-color: none;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $hw-ghost-color;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px $hw-ghost-color;
  }
}

@mixin typed_button($type) {
  // @include button_base;
  @if $type == basic {
    color: $hw-basic-color;
    border: 1px solid $hw-ghost-color;
    background-color: white;
  }
  @if $type == primary {
    background-color: $hw-primary-color;
  }
  @if $type == danger {
    background-color: $hw-danger-color;
  }
  @if $type == success {
    background-color: $hw-success-color;
  }
  @if $type == ghost {
    background-color: $hw-ghost-color;
  }
}
