aside {
  display: block;
  position: fixed;
  top: 60px;
  left: 0px;
  width: 200px;
  height: calc(100vh - 60px);
  border-right: 2px solid #eeeeee;
  padding: 15px;
  background-color: white;
  @media screen and (max-width: 599px) {
    width: 100%;
    position: relative;
    background-color: yellow;
    opacity: 0.9;
    min-height: 50px;
    height: 100%;
  }

  .sidebar-menus-wrapper {
  }

  .sidebar-menu {
    list-style-type: none;
    margin-bottom: 5px;
    color: silver;
    &.root {
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 18px;
      color: black;
    }

    &.active {
      color: black;
    }
  }
}
