header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  z-index: 1000;
  opacity: 0.9;
  border-bottom: 2px solid #eeeeee;
  background-color: white;
  .logo-wrapper {
    min-width: 115px;
    display: block;
    margin: 0px 20px;
    > a {
      color: maroon;
      font-weight: 600;
      font-size: 20px;
    }
    cursor: pointer;
    // font-weight:;
  }

  .nav-menus-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    justify-content: space-around;
  }

  .nav-menu {
    list-style-type: none;
    color: silver;
    cursor: pointer;
    &.active {
      > a {
        color: black;
        font-weight: bold;
      }
    }
    &:hover {
      color: gray;
    }
  }
}
