main {
  display: block;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  padding: 15px;
  &.with-sidebar {
    @media screen and (min-width: 600px) {
      width: calc(100% - 200px);
      margin-left: 200px;
    }
    @media screen and (max-width: 599px) {
      width: 100%;
      margin-left: 0px;
      height: calc(100vh - 110px);
    }
  }
}
