@import "../../styles/index.scss";
@import "./mixin.scss";

.#{$prefixCls}__carousel {
  @include carousel_base;
  &--bordered {
    @include carousel_base;
    border: 1px solid $hw-gray-100;
    border-radius: 5px;
  }

  &-item {
    @include carousel_item_base;
    &--current_index {
      @include carousel_item_base;
    }
  }
  &-indicator {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  &-indicator-point {
    @include carousel_indicator_point_base;
    &--active {
      @include carousel_indicator_point_base;
      background-color: $hw-gray-400;
    }
  }
  &-navigator {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: space-between;
    top: calc(50% - 20px);
    > svg {
      width: 20px;
      vertical-align: bottom;
      line-height: 30px;
      stroke: $hw-gray-200;
      stroke-width: 3px;
      cursor: pointer;
      &:hover {
        stroke: $hw-basic-color;
      }
    }
  }
}
