@mixin carousel_base {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

@mixin carousel_item_base {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  will-change: transform;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@mixin carousel_indicator_point_base {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $hw-gray-200;
  margin: 0px 3px;
  cursor: pointer;
  &:hover {
    background-color: $hw-basic-color;
  }
}
