@import "../../styles/index.scss";

.#{$prefixCls}__breadcrumb {
  list-style-type: none;
  &.link {
    cursor: pointer;
    &.breadcrumb-item span {
      &:hover {
        font-weight: bold;
      }
    }
  }
  > svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    color: $hw-gray-300;
    stroke-width: 3px;
    vertical-align: top;
  }
  > li {
    display: inline-block;
    width: fit-content;
    > span {
      font-size: 16px;
    }
  }
}
