@import "../../styles/common";

@mixin typed-input($type) {
  border: 1px solid $hw-ghost-color;
  @include input_base;
  @if $type == basic {
    border-color: $hw-ghost-color;
  }
  @if $type == primary {
    border-color: $hw-primary-color;
  }
  @if $type == danger {
    border-color: $hw-danger-color;
  }
  @if $type == success {
    border-color: $hw-success-color;
  }
  @if $type == ghost {
    border-color: $hw-ghost-color;
  }
}

@mixin input_base {
  > input {
    outline: none !important;
    border: none !important;
    width: 100%;
    background-color: none;
    padding: 0px !important;
    box-shadow: none !important;
  }
  color: $hw-basic-color;
  background-color: white;
  height: calc(2rem - 2px);
  line-height: calc(2rem - 2px);
  padding: 0px 0.5rem;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $hw-ghost-color;
}

@mixin input-base-style {
  &--basic {
    @include typed-input(basic);
  }
  &--primary {
    @include typed-input(primary);
  }
  &--danger {
    @include typed-input(danger);
  }
  &--success {
    @include typed-input(success);
  }
  &--ghost {
    @include typed-input(ghost);
  }
}

.#{$prefixCls}__input {
  @include input-base-style;
  &-search {
    @include input-base-style;
    &-wrapper {
      display: flex;
      align-items: center;
      > button {
        margin-left: 3px;
      }
    }
  }
}
