@import "../../styles/common";

.#{$prefixCls}__tabs {
  &__tabs-wrapper {
    &__tab {
      display: inline-block;
      &.active {
        background-color: red;
      }
    }
  }
  &__tabs-pannel-wrapper {
  }
}
