$hw-red-100: #ffa39e;
$hw-red-200: #ff7875;
$hw-red-300: #ff4d4f;
$hw-red-400: #f5222d;
$hw-red-500: #a8071a;

$hw-blue-100: #91caff;
$hw-blue-200: #69b1ff;
$hw-blue-300: #4096ff;
$hw-blue-400: #1677ff;
$hw-blue-500: #003eb3;

$hw-green-100: #b7eb8f;
$hw-green-200: #95de64;
$hw-green-300: #73d13d;
$hw-green-400: #52c41a;
$hw-green-500: #389e0d;

$hw-gray-100: #f5f5f5;
$hw-gray-200: #d9d9d9;
$hw-gray-300: #bfbfbf;
$hw-gray-400: #8c8c8c;
$hw-gray-500: #595959;

$hw-black-100: #262626;
$hw-black-200: #141414;

$hw-primary-color: $hw-blue-400;
$hw-danger-color: $hw-red-400;
$hw-success-color: $hw-green-400;
$hw-ghost-color: $hw-gray-300;
$hw-basic-color: $hw-black-100;
